<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
   		<link rel="stylesheet" type="text/css" href="/stylesheet/app.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
</head>
<body>
    <div id="top-border"></div>
    <div class="jumbotron pt-4">
       <div class="container">
        <div class="media d-flex align-items-end justify-content-start">
            <img src="https://www.ongcindia.com/wps/wcm/connect/e216d987-2812-428f-b7a4-d0120d8ba406/logo.png?MOD=AJPERES&CACHEID=ROOTWORKSPACE-e216d987-2812-428f-b7a4-d0120d8ba406-l19jnvr" alt="">
            <h4 class="text-maroon pr-4">Oil and Natural Gas Corporation Limited</h4>
        </div>
    
        <p class="lead">ONGC Represents India's Energy Security Through its Pioneering Efforts. Maharatna ONGC is the largest crude oil and natural gas Company in India, contributing around 75 per cent to Indian domestic production. ..</p>
        <hr class="my-4">
        <p>ONGC Represents India's Energy Security Through its Pioneering Efforts. Maharatna ONGC is the largest crude oil and natural gas Company in India, contributing around 75 per cent to Indian domestic production. ..</p>
        <a  class="btn btn-primary btn-lg maroon" href="https://www.ongcindia.com/wps/wcm/connect/en/about-ongc/ongc-at-a-glance/corporate-profile/" role="button">Learn more</a>
       </div>
      </div>
     <div class="container">
         <div class="search-bar">
             <form action="/employee" class="text-center" METHOD="GET">
                 <input type="text" name="search" placeholder="Employee Name">
                 <button><i class="fas fa-search"></i></button>
             </form>
         </div>
     </div>
	<br><br>

     <footer id="footer" class="bottom" >
       
         
        <div class="media">
            <div class="row">
                <div class="col-lg-12">
                    <ul>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/citizen">Charter</a></li>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/rti">RTI</a></li>
                        <li><a href="https://reports.ongc.co.in/wps/portal/vigilanceHome/!ut/p/z1/jY9PC4JAFMQ_SweP-V4WJt2WIPsDUURp7xKr2bqgu6JbS98-qWNlzW2G3wwMEMRAit-k4EZqxYvWH8k_jQM2na9G3hoXM8RtEB68Xbjx0B9A9ATwixgC_dPvAKh7PgL6hSyBRKGT1xumkmEggOrsktVZ7V7rNs6NqZqJgw5aa12tRCrVWXI31aWDn1q5bgzEbzBU5T7GPiV3y3oPl4s7ng!!/dz/d5/L2dBISEvZ0FBIS9nQSEh/">Lodge comaplaint</a></li>
                        <li><a href="https://grievance.ongc.co.in/">Public Greivances</a></li>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/sustainability/energy-center/about-us/vision-and-mission/vision-and-mission">ONGC Energy Center</a></li>
                        <li><a href="https://startup.ongc.co.in/wps/wcm/connect/ongcstartup/home/">ONGC Start-up</a></li>
                        <li><a href="https://epass.ongc.co.in/">Visitor Management System</a></li>
                        <li><a href="https://www.ongcindia.com/ONGCPaymentGateway/mainPage">Online Paymeny</a></li>
                    </ul>
                </div>
           </div>
        
        </div>
           
         
         <div class="row">
           <div class="container text-center ">
            <div class="address text">
                <p>Registered Office: Plot No. 5A- 5B Nelson Mandela Road, Vasant Kunj, New Delhi, 110070<br>
                    Corporate Identity Number: L74899DL1993GOI054155<br>
                    Telephone No. 011-26750998; Fax No: 011-26750991/ 26129091<br>
                    For queries and grievances: Rakesh Ranjan, e-mail: <b>RANJAN2_RAKESH@ongc.co.in</b></p>
            </div>
           </div> 
         
       
        </div>
        <hr>
     
        <div class="row">
            <div class="container">
            
                <div class="media-2">
                    <ul>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/sitemap/sitemap">Sitemap</a></li>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/privacy-policy/privacy-policy">Privacy Policy</a></li>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/terms+of+use/terms-of-use">Terms of Use</a></li>
                        <li><a href="https://www.ongcindia.com/wps/wcm/connect/en/disclaimer/disclaimer">Disclaimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
           
                <p>&copy Copyright Oil and Natural Gas Corporation Ltd.</p>
            
        </div>

       
     </footer>

</body>
</html>